<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765297743299-22vpulka4dfgimbil9jhj5ui1vg7u6ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765297743299-22vpulka4dfgimbil9jhj5ui1vg7u6ae</string>
	<key>API_KEY</key>
	<string>AIzaSyDmydNc_fjlaNCh8is6z7d_AtBEsv7z-fc</string>
	<key>GCM_SENDER_ID</key>
	<string>765297743299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuan.banhang</string>
	<key>PROJECT_ID</key>
	<string>test-8ca79</string>
	<key>STORAGE_BUCKET</key>
	<string>test-8ca79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765297743299:ios:feebcb226be2ce72</string>
	<key>DATABASE_URL</key>
	<string>https://test-8ca79.firebaseio.com</string>
</dict>
</plist>